In [443]:
import pandas as pd
import datetime
import numpy as np

In [549]:
articles_df = pd.read_csv('netflix_article_avgs.csv', index_col = 0)
articles_df.index = pd.to_datetime(articles_df.index)
articles_df_ = articles_df[articles_df.index.day >= 24]
articles_df = articles_df_[articles_df_.index.day < 30]
articles_df = articles_df.between_time('9:30', "15:30").sort_index()

# importing tweet csv files and cleaning them
tweets_df = pd.read_csv('netflix_tweets.csv')
tweets_df['time_stamp'] = pd.to_datetime(tweets_df['time_stamp'])
tweets_df['time_stamp'] = tweets_df['time_stamp'].dt.round('30min')
tweets_df_ = tweets_df.set_index(['time_stamp'])

# reading stock.csv and cleaning the df
running_stocks_thirty = pd.read_csv('netflix_stock_8_30.csv', index_col = 0)
running_stocks_thirty.index = pd.to_datetime(running_stocks_thirty.index)

# updating stock data
running_stocks_thirty = running_stocks_thirty[running_stocks_thirty.index.day >= 24].sort_index()
running_stocks_thirty['increase_decrease'] = running_stocks_thirty['4. close'] - running_stocks_thirty['1. open']
running_stocks_thirty['up_down'] = np.where(running_stocks_thirty['increase_decrease']>=0, 1, 0)
running_stocks_thirty['movement(%)'] = np.round(((running_stocks_thirty['4. close'] - running_stocks_thirty['1. open'])/running_stocks_thirty['4. close'])*100, 2)

# reading tech indicators
tech_indic = pd.read_csv('netflix_tech_indicators.csv', index_col = 0 )
tech_indic.index = pd.to_datetime(tech_indic.index)
tech_indic_ = tech_indic[tech_indic.index.day >= 24]
tech_indic_df = tech_indic_[tech_indic_.index.day < 30]

In [620]:
running_stocks_thirty

,1. open,2. high,3. low,4. close,5. volume,interval
2018-08-31 15:25:00,227.3100,227.4500,227.2999,227.4000,65686,5
2018-08-31 15:20:00,227.5379,227.5599,227.2200,227.2900,371507,5
2018-08-31 15:15:00,227.7700,227.8500,227.5300,227.5400,248068,5
2018-08-31 15:10:00,227.8100,227.9200,227.7500,227.7600,184517,5
2018-08-31 15:05:00,227.8500,227.8805,227.7300,227.8335,233889,5
2018-08-31 15:00:00,227.5100,227.9200,227.4900,227.8500,320563,5
2018-08-31 14:55:00,227.6200,227.6200,227.4700,227.5000,182716,5
2018-08-31 14:50:00,227.5200,227.6700,227.4800,227.6100,194796,5
2018-08-31 14:45:00,227.4700,227.6499,227.4700,227.5400,179003,5
2018-08-31 14:40:00,227.6100,227.6300,227.4200,227.4600,221271,5
2018-08-31 14:35:00,227.6052,227.7600,227.5600,227.5900,230053,5
2018-08-31 14:30:00,227.5300,227.6200,227.3700,227.6067,222918,5
2018-08-31 14:25:00,227.0600,227.6000,227.0500,227.5240,318893,5
2018-08-31 14:20:00,227.2700,227.3100,227.0700,227.0700,237661,5
2018-08-31 14:15:00,227.3600,227.5000,227.2600,227.2600,227467,5
2018-08-31 14:10:00,227.5200,227.5200,227.3000,227.3700,236565,5
2018-08-31 14:05:00,227.5800,227.6500,227.5000,227.5100,200273,5
2018-08-31 14:00:00,227.8800,227.9100,227.5510,227.5868,216953,5
2018-08-31 13:55:00,227.7600,227.8800,227.7500,227.8700,157287,5
2018-08-31 13:50:00,227.9100,227.9869,227.7800,227.7800,145402,5
2018-08-31 13:45:00,227.7000,227.9580,227.7000,227.9499,148156,5
2018-08-31 13:40:00,227.9100,227.9199,227.6200,227.6514,186089,5
2018-08-31 13:35:00,227.8800,228.1100,227.7800,227.8800,254019,5
2018-08-31 13:30:00,227.8090,227.9050,227.5000,227.8900,334430,5
2018-08-31 13:25:00,228.2100,228.2100,227.7800,227.8100,313268,5
2018-08-31 13:20:00,228.2000,228.2799,228.1290,228.2400,170386,5
2018-08-31 13:15:00,228.3549,228.4600,228.1500,228.2102,273039,5
2018-08-31 13:10:00,228.5700,228.5900,228.3360,228.3600,282318,5
2018-08-31 13:05:00,228.4500,228.5600,228.3200,228.5200,268854,5
2018-08-31 13:00:00,228.4400,228.4800,228.3100,228.4400,250724,5
...,...,...,...,...,...,...
2018-08-24 12:30:00,354.1900,356.4111,353.7000,356.2861,1003701,30
2018-08-24 12:00:00,353.0826,354.2529,353.0777,354.2250,741462,30
2018-08-24 11:30:00,351.3450,353.2800,350.9000,353.0600,699483,30
2018-08-24 11:00:00,352.0930,352.7500,350.3000,351.1900,815234,30
2018-08-24 10:30:00,349.5000,352.0800,349.4000,352.0283,1267592,30
2018-08-24 10:00:00,348.2000,350.3411,348.2000,349.3570,1353317,30
2018-08-24 09:30:00,345.9900,349.6500,344.5500,347.9498,2394400,30
2018-08-23 15:30:00,339.9361,339.9550,338.3500,339.1700,887169,30
2018-08-23 15:00:00,340.4200,341.2300,339.7000,339.9000,535289,30
2018-08-23 14:30:00,339.6100,340.4200,339.4400,340.3700,335345,30
2018-08-23 14:00:00,339.3055,339.9200,338.9900,339.6000,400176,30
2018-08-23 13:30:00,340.5946,340.8500,339.2200,339.2500,285438,30
2018-08-23 13:00:00,339.9102,340.5000,339.4300,340.4500,254374,30
2018-08-23 12:30:00,341.9000,341.9900,339.6000,339.8116,419090,30
2018-08-23 12:00:00,340.5050,341.9000,339.1400,341.8400,550223,30
2018-08-23 11:30:00,340.8200,341.2000,337.7630,340.1700,895029,30
2018-08-23 11:00:00,343.8717,344.4000,338.9500,340.8200,1323425,30
2018-08-23 10:30:00,347.0390,347.2000,342.8600,344.1000,968788,30
2018-08-23 10:00:00,348.8639,348.9240,345.3600,346.8900,1309835,30
2018-08-23 09:30:00,348.0000,350.0000,345.8600,348.7100,2002400,30
2018-08-22 15:30:00,344.6600,345.1200,344.2710,344.4600,748666,30
2018-08-22 15:00:00,343.8900,344.8700,343.8300,344.6050,349484,30
2018-08-22 14:30:00,344.3804,344.8800,343.5000,343.8600,315688,30
2018-08-22 14:00:00,344.5800,345.6885,343.8700,344.2624,534631,30
2018-08-22 13:30:00,344.2800,345.0000,344.1286,344.6700,291504,30
2018-08-22 13:00:00,344.4800,344.6007,343.5543,344.1103,204231,30
2018-08-22 12:30:00,343.4800,344.8100,343.4800,344.5200,408751,30
2018-08-22 12:00:00,343.8800,344.1100,342.7700,343.4476,302594,30
2018-08-22 11:30:00,343.3900,344.1500,342.5600,343.9800,352928,30
2018-08-22 11:00:00,344.3300,344.8400,343.3600,343.5300,573259,30

In [550]:
# drop all the tweets before the 24th
tweets_df = tweets_df_[tweets_df_.index.day >= 24]
tweets_master_df = tweets_df.drop(['t_id', 'text', 'Unnamed: 0'], axis = 1)

In [551]:
# seperate during/after market hrs
def during_after(df):
    df_during = df.between_time('9:30', "15:30")
    df_after = df.between_time('15:30', "9:30")
    return df_during, df_after

In [552]:
open_hours_tweets_24, after_hour_tweets_24 = during_after(tweets_df_24)
open_hours_tweets_25, after_hour_tweets_25 = during_after(tweets_df_25)
open_hours_tweets_26, after_hour_tweets_26 = during_after(tweets_df_26)
open_hours_tweets_27, after_hour_tweets_27 = during_after(tweets_df_27)
open_hours_tweets_28, after_hour_tweets_28 = during_after(tweets_df_28)
open_hours_tweets_29, after_hour_tweets_29 = during_after(tweets_df_29)

In [553]:
# aggregate the scores 
def aggregate(df):
    if df.empty != True:
        sent_avg = df.groupby(df.index).agg({'vader_sentiment': 'mean'}).rename(columns = {'vader_sentiment': 'sentiment_avg_30'}).shift()
        sent_count = df.groupby(df.index).agg({'sentiment': 'value_counts'}).unstack().rename(columns = {'sentiment': 'sentiment_30'}).shift()
        df_ = pd.concat([sent_avg, sent_count], axis = 1)
        df_ini = df_.fillna(df_.mean())
        df_hour_i = df_ini.shift().rolling(window=2, center = True, min_periods=2).mean().rename(columns = {'sentiment_avg_30': 'sentiment_avg_60'})
        df_hour = df_hour_i.fillna(df_hour_i.mean())
        df_two_hours_i = df_ini.shift(2).rolling(window=4, center = True, min_periods=4).mean().rename(columns = {'sentiment_avg_30': 'sentiment_avg_120'})
        df_two_hours = df_two_hours_i.fillna(df_two_hours_i.mean())
        df_all = pd.concat([df_ini, df_hour, df_two_hours], axis = 1)
        return df_all

In [554]:
open_hours_tweets_24 = aggregate(open_hours_tweets_24)
open_hours_tweets_25 = aggregate(open_hours_tweets_25)
open_hours_tweets_26 = aggregate(open_hours_tweets_26)
open_hours_tweets_27 = aggregate(open_hours_tweets_27)
open_hours_tweets_28 = aggregate(open_hours_tweets_28)
open_hours_tweets_29 = aggregate(open_hours_tweets_29)

In [555]:
open_hours_tweets_27

In [556]:
df_morning = tweets_23_night.between_time('0:00', "9:30")

In [557]:
# seperate night-before and morning-day-of market hrs
def night_morning(df):
    df_night = df.between_time('15:30', "0:00")
    df_morning = df.between_time('0:00', "9:30")
    df_night_avg = df_night.groupby(df_night.index.day).mean()
    df_night_ct = df_night.groupby(df_night.index.day).agg({'sentiment': 'value_counts'}).unstack()
    night_df = pd.concat([df_night_avg, df_night_ct], axis = 1)
    if df_morning.empty != True:
        df_morning_avg = df_morning.groupby(df_morning.index.day).mean()
        df_morning_ct = df_morning.groupby(df_morning.index.day).agg({'sentiment': 'value_counts'}).unstack()
        morning_df = pd.concat([df_morning_avg, df_morning_ct], axis = 1)
    else:
        morning_df = df_morning
    if len(night_df.columns) == 4:
        night_df.columns = ['vader_sentiment_night', 'sent_neg, night_before', 'sent_neu, night_before', 'sent_pos, night_before']
    if len(morning_df.columns) == 4:
        morning_df.columns = ['vader_sentiment_morning', 'sent_neg, morning', 'sent_neu, morning', 'sent_pos, morning']
    pd.to_datetime(morning_df.index)
    pd.to_datetime(night_df.index)
    return night_df, morning_df

In [558]:
tweets_df_23 = tweets_df_[tweets_df_.index.day == 23]
tweets_23_df = tweets_df_23.drop(['t_id', 'text', 'Unnamed: 0'], axis = 1)
tweets_23_night = tweets_23_df.between_time('15:30', "9:30")
after_hour_tweets_24_night, after_hour_tweets_23_morning = night_morning(tweets_23_night)

In [559]:
after_hour_tweets_25_night, after_hour_tweets_24_morning = night_morning(after_hour_tweets_24)
after_hour_tweets_26_night, after_hour_tweets_25_morning = night_morning(after_hour_tweets_25)
after_hour_tweets_27_night, after_hour_tweets_26_morning = night_morning(after_hour_tweets_26)
after_hour_tweets_28_night, after_hour_tweets_27_morning = night_morning(after_hour_tweets_27)
after_hour_tweets_29_night, after_hour_tweets_28_morning = night_morning(after_hour_tweets_28)
after_hour_tweets_30_night, after_hour_tweets_29_morning = night_morning(after_hour_tweets_29)

In [560]:
# update the index of the night df to the next day
after_hour_tweets_24_night.index = [24]
after_hour_tweets_25_night.index = [25]
after_hour_tweets_26_night.index = [26]
after_hour_tweets_27_night.index = [27]
after_hour_tweets_28_night.index = [28]
after_hour_tweets_29_night.index = [29]

In [561]:
night_morning_24 = pd.concat([after_hour_tweets_24_night, after_hour_tweets_24_morning], axis = 1)
night_morning_25 = pd.concat([after_hour_tweets_25_night, after_hour_tweets_25_morning], axis = 1)
night_morning_26 = pd.concat([after_hour_tweets_26_night, after_hour_tweets_26_morning], axis = 1)
night_morning_27 = pd.concat([after_hour_tweets_27_night, after_hour_tweets_27_morning], axis = 1)
night_morning_28 = pd.concat([after_hour_tweets_28_night, after_hour_tweets_28_morning], axis = 1)
night_morning_29 = pd.concat([after_hour_tweets_29_night, after_hour_tweets_29_morning], axis = 1)

In [562]:
list_of_columns = list(night_morning_24.columns)
def concat_main_night_morning(open_hour_df, night_morning_df):
    for i in range(0,len(list_of_columns)):
        open_hour_df[list_of_columns[i]] = np.full((len(open_hour_df),1), night_morning_df[list_of_columns[i]].values[0])

In [563]:
open_hours_tweets_24 = open_hours_tweets_25.copy()
open_hours_tweets_27 = open_hours_tweets_25.copy()
open_hours_tweets_28 = open_hours_tweets_25.copy()
open_hours_tweets_29 = open_hours_tweets_25.copy()

In [564]:
open_hours_tweets_24

,sentiment_avg_30,"(sentiment_30, neg)","(sentiment_30, neutral)","(sentiment_30, pos)",sentiment_avg_60,"(sentiment_30, neg)","(sentiment_30, neutral)","(sentiment_30, pos)",sentiment_avg_120,"(sentiment_30, neg)","(sentiment_30, neutral)","(sentiment_30, pos)"
time_stamp,,,,,,,,,,,,
2018-08-25 14:30:00,0.154259,20.0,37.5,43.5,0.141695,18.5,31.75,37.25,NaN,NaN,NaN,NaN
2018-08-25 15:00:00,0.129131,17.0,26.0,31.0,0.141695,18.5,31.75,37.25,NaN,NaN,NaN,NaN
2018-08-25 15:30:00,0.179387,23.0,49.0,56.0,0.141695,18.5,31.75,37.25,NaN,NaN,NaN,NaN

In [565]:
concat_main_night_morning(open_hours_tweets_24, night_morning_24) # replace later
concat_main_night_morning(open_hours_tweets_25, night_morning_25)
concat_main_night_morning(open_hours_tweets_26, night_morning_26)
concat_main_night_morning(open_hours_tweets_27, night_morning_27)
concat_main_night_morning(open_hours_tweets_28, night_morning_28)
concat_main_night_morning(open_hours_tweets_29, night_morning_29)

In [593]:
open_hours_tweets_24.columns = ['sentiment_avg_30','coun_neg, 30', 'coun_neu, 30','coun_pos, 30', 'sentiment_avg_60', 'coun_neg, 60', 'coun_neu, 60','coun_pos, 60','sentiment_avg_120', 'coun_neg, 120', 'coun_neu, 120','coun_pos, 120', 'sentiment_night_before_avg', 'count_neg, night_before', 'count_neu, night_before', 'count_pos, night_before','sentiment_morning_avg', 'count_neg, morning', 'count_neu, morning', 'count_pos, morning']
open_hours_tweets_27.columns = ['sentiment_avg_30','coun_neg, 30', 'coun_neu, 30','coun_pos, 30', 'sentiment_avg_60', 'coun_neg, 60', 'coun_neu, 60','coun_pos, 60','sentiment_avg_120', 'coun_neg, 120', 'coun_neu, 120','coun_pos, 120', 'sentiment_night_before_avg', 'count_neg, night_before', 'count_neu, night_before', 'count_pos, night_before','sentiment_morning_avg', 'count_neg, morning', 'count_neu, morning', 'count_pos, morning']
open_hours_tweets_28.columns = ['sentiment_avg_30','coun_neg, 30', 'coun_neu, 30','coun_pos, 30', 'sentiment_avg_60', 'coun_neg, 60', 'coun_neu, 60','coun_pos, 60','sentiment_avg_120', 'coun_neg, 120', 'coun_neu, 120','coun_pos, 120', 'sentiment_night_before_avg', 'count_neg, night_before', 'count_neu, night_before', 'count_pos, night_before','sentiment_morning_avg', 'count_neg, morning', 'count_neu, morning', 'count_pos, morning']
open_hours_tweets_29.columns = ['sentiment_avg_30','coun_neg, 30', 'coun_neu, 30','coun_pos, 30', 'sentiment_avg_60', 'coun_neg, 60', 'coun_neu, 60','coun_pos, 60','sentiment_avg_120', 'coun_neg, 120', 'coun_neu, 120','coun_pos, 120', 'sentiment_night_before_avg', 'count_neg, night_before', 'count_neu, night_before', 'count_pos, night_before','sentiment_morning_avg', 'count_neg, morning', 'count_neu, morning', 'count_pos, morning']
open_hours_tweets_25.columns = ['sentiment_avg_30','coun_neg, 30', 'coun_neu, 30','coun_pos, 30', 'sentiment_avg_60', 'coun_neg, 60', 'coun_neu, 60','coun_pos, 60','sentiment_avg_120', 'coun_neg, 120', 'coun_neu, 120','coun_pos, 120', 'sentiment_night_before_avg', 'count_neg, night_before', 'count_neu, night_before', 'count_pos, night_before','sentiment_morning_avg', 'count_neg, morning', 'count_neu, morning', 'count_pos, morning']
open_hours_tweets_26.columns = ['sentiment_avg_30','coun_neg, 30', 'coun_neu, 30','coun_pos, 30', 'sentiment_avg_60', 'coun_neg, 60', 'coun_neu, 60','coun_pos, 60','sentiment_avg_120', 'coun_neg, 120', 'coun_neu, 120','coun_pos, 120', 'sentiment_night_before_avg', 'count_neg, night_before', 'count_neu, night_before', 'count_pos, night_before','sentiment_morning_avg', 'count_neg, morning', 'count_neu, morning', 'count_pos, morning']

In [594]:
open_hours_tweets_24['sentiment_avg_30'] = 0
open_hours_tweets_24['coun_neg, 30'] = 0
open_hours_tweets_24['coun_neu, 30'] = 0
open_hours_tweets_24['coun_pos, 30'] = 0
open_hours_tweets_24['sentiment_avg_60'] = 0
open_hours_tweets_24['coun_neg, 60'] = 0
open_hours_tweets_24['coun_neu, 60'] = 0
open_hours_tweets_24['coun_pos, 60'] = 0
open_hours_tweets_24['sentiment_avg_120'] = 0
open_hours_tweets_24['coun_neg, 120'] = 0
open_hours_tweets_24['coun_neu, 120'] = 0
open_hours_tweets_24['coun_pos, 120'] = 0

In [595]:
open_hours_tweets_27['sentiment_avg_30'] = 0
open_hours_tweets_27['coun_neg, 30'] = 0
open_hours_tweets_27['coun_neu, 30'] = 0
open_hours_tweets_27['coun_pos, 30'] = 0
open_hours_tweets_27['sentiment_avg_60'] = 0
open_hours_tweets_27['coun_neg, 60'] = 0
open_hours_tweets_27['coun_neu, 60'] = 0
open_hours_tweets_27['coun_pos, 60'] = 0
open_hours_tweets_27['sentiment_avg_120'] = 0
open_hours_tweets_27['coun_neg, 120'] = 0
open_hours_tweets_27['coun_neu, 120'] = 0
open_hours_tweets_27['coun_pos, 120'] = 0

In [596]:
open_hours_tweets_28['sentiment_avg_30'] = 0
open_hours_tweets_28['coun_neg, 30'] = 0
open_hours_tweets_28['coun_neu, 30'] = 0
open_hours_tweets_28['coun_pos, 30'] = 0
open_hours_tweets_28['sentiment_avg_60'] = 0
open_hours_tweets_28['coun_neg, 60'] = 0
open_hours_tweets_28['coun_neu, 60'] = 0
open_hours_tweets_28['coun_pos, 60'] = 0
open_hours_tweets_28['sentiment_avg_120'] = 0
open_hours_tweets_28['coun_neg, 120'] = 0
open_hours_tweets_28['coun_neu, 120'] = 0
open_hours_tweets_28['coun_pos, 120'] = 0

In [597]:
open_hours_tweets_29['sentiment_avg_30'] = 0
open_hours_tweets_29['coun_neg, 30'] = 0
open_hours_tweets_29['coun_neu, 30'] = 0
open_hours_tweets_29['coun_pos, 30'] = 0
open_hours_tweets_29['sentiment_avg_60'] = 0
open_hours_tweets_29['coun_neg, 60'] = 0
open_hours_tweets_29['coun_neu, 60'] = 0
open_hours_tweets_29['coun_pos, 60'] = 0
open_hours_tweets_29['sentiment_avg_120'] = 0
open_hours_tweets_29['coun_neg, 120'] = 0
open_hours_tweets_29['coun_neu, 120'] = 0
open_hours_tweets_29['coun_pos, 120'] = 0

In [598]:
open_hours_tweets_24_col = pd.DataFrame(pd.DatetimeIndex(['2018-08-24 14:30:00', '2018-08-24 15:00:00',
               '2018-08-24 15:30:00']))
open_hours_tweets_24_col.columns = ['time_stamp']
open_hours_tweets_24_col = open_hours_tweets_24_col.set_index(['time_stamp'])
open_hours_tweets_24.index = open_hours_tweets_24_col.index
open_hours_tweets_27_col = pd.DataFrame(pd.DatetimeIndex(['2018-08-27 14:30:00', '2018-08-27 15:00:00',
               '2018-08-27 15:30:00']))
open_hours_tweets_27_col.columns = ['time_stamp']
open_hours_tweets_27_col = open_hours_tweets_27_col.set_index(['time_stamp'])
open_hours_tweets_27.index = open_hours_tweets_27_col.index
open_hours_tweets_28_col = pd.DataFrame(pd.DatetimeIndex(['2018-08-28 14:30:00', '2018-08-28 15:00:00',
               '2018-08-28 15:30:00']))
open_hours_tweets_28_col.columns = ['time_stamp']
open_hours_tweets_28_col = open_hours_tweets_28_col.set_index(['time_stamp'])
open_hours_tweets_28.index = open_hours_tweets_28_col.index
open_hours_tweets_29_col = pd.DataFrame(pd.DatetimeIndex(['2018-08-29 14:30:00', '2018-08-29 15:00:00',
               '2018-08-29 15:30:00']))
open_hours_tweets_29_col.columns = ['time_stamp']
open_hours_tweets_29_col = open_hours_tweets_29_col.set_index(['time_stamp'])
open_hours_tweets_29.index = open_hours_tweets_29_col.index

In [599]:
open_hours_tweets_26

,sentiment_avg_30,"coun_neg, 30","coun_neu, 30","coun_pos, 30",sentiment_avg_60,"coun_neg, 60","coun_neu, 60","coun_pos, 60",sentiment_avg_120,"coun_neg, 120","coun_neu, 120","coun_pos, 120",sentiment_night_before_avg,"count_neg, night_before","count_neu, night_before","count_pos, night_before",sentiment_morning_avg,"count_neg, morning","count_neu, morning","count_pos, morning"
time_stamp,,,,,,,,,,,,,,,,,,,,
2018-08-26 14:30:00,0.193185,19.0,39.5,55.0,0.214078,16.5,41.75,57.0,NaN,NaN,NaN,NaN,0.214493,434,825,1403,0.049713,19,19,30
2018-08-26 15:00:00,0.234971,14.0,44.0,59.0,0.214078,16.5,41.75,57.0,NaN,NaN,NaN,NaN,0.214493,434,825,1403,0.049713,19,19,30
2018-08-26 15:30:00,0.151400,24.0,35.0,51.0,0.214078,16.5,41.75,57.0,NaN,NaN,NaN,NaN,0.214493,434,825,1403,0.049713,19,19,30

In [601]:
tweets_master = pd.concat([open_hours_tweets_24, open_hours_tweets_25, open_hours_tweets_26, open_hours_tweets_27, open_hours_tweets_28, open_hours_tweets_29])
# tweets_master.columns = ['sentiment_avg_30','coun_neg, 30', 'coun_neu, 30','coun_pos, 30', 'sentiment_avg_60', 'coun_neg, 60', 'coun_neu, 60','coun_pos, 60','sentiment_avg_120', 'coun_neg, 120', 'coun_neu, 120','coun_pos, 120', 'sentiment_night_before_avg', 'count_neg, night_before', 'count_neu, night_before', 'count_pos, night_before','sentiment_morning_avg', 'count_neg, morning', 'count_neu, morning', 'count_pos, morning']
# take out weekend
tweets_master = tweets_master[(tweets_master.index.day != 25) & (tweets_master.index.day != 26)]

In [618]:
new_index = articles_df.index
tweets_master = tweets_master.reindex(new_index)

In [49]:
# put stock and tweet data together
tweets_stocks = pd.concat([running_stocks_thirty, tech_indic_df, tweets_master, articles_df], axis = 1)

In [51]:
tweets_stocks.to_csv('netfilex_tweets_stock.csv')